/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");
/* Variables */

:root {
  --main-color: #35afac;

  /* text colors */
  --text-dark-grey: #333333;
  --text-light-grey: #999999;
  --text-x-dark-grey: #0d0d0d;
  --text-black: #000;

  /* Background */
  --bg-sky: #7fb3d5;
  --bg-dark-blue: #0074d9;
  --bg-yellow: #ffffcc;
  --bg-green: #3cb371;

  /* border-colors */
  --border-gray: #666666;
  --border-light-gray: #cccccc;

  /* font-family */
  --ff-carter-one: "Aladin", system-ui;

  /* font-size */
  --fs-md: 16px;
  --fs-lg: 18px;
  --fs-xl: 22px;
  --fs-2xl: 28px;
  --fs-3xl: clamp(27px. 4vw, 50px);
  --fs-4xl: clamp(35px, 7vw, 90px);
  --fs-body: var(var(--fs-md));

  /* padding */
  --section-py: 80px;
}

/* base */
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::before,
::after {
  box-sizing: border-box;
}
body {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-size: var(--fs-body);
  background-color: var(--bg-sky);
  color: var(--text-dark-grey);
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
  color: var(--text-x-dark-grey);
}
a {
  text-decoration: none;
  color: var(--main-color);
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  list-style: none;
}
p + p {
  margin-top: 15px;
}
button {
  cursor: pointer;
}
::selection {
  color: var(--text-black);
  background-color: var(--main-color);
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: var(--bg-dark-blue);
}
::-webkit-scrollbar-thumb {
  background-color: var(--bg-dark-blue);
}
